# Getting started with Python and DataFrames

  In this notebook, we start working with python and explore coding techniques to load and manipulate data. This is important in creating large optimization model, as different CSV datasets may be required to import paramaters for the model.

 What we cover in this Notebook:

1. Creating DataFrames from scratch
2. Read, manipulate, and write DataFrames
3. Grouping columns and aggregation
4. Looping and sorting data

We first need to import packages that include different functions, making our life a bit easier! Pandas and Numpy are two open source tools that contain data manipulation tools and mathematical functions to help us deal with different data. Matplotlib also containts tools to create plots.

In [1]:
import pandas as pd
import numpy as np

### What is a DataFrame
A DataFrame is a data structure that contains rows and columns, which can store the data we need. Let's create a DataFrame from scratch.

In [2]:
data = {
    "Country": ["Germany", "France", "Netherlands", "Spain"],
    "Production_MW": [250, 180, 150, 220],
    "Cost_per_MWh": [45, 50, 48, 47],
}

df = pd.DataFrame(data)

df

       Country  Production_MW  Cost_per_MWh
0      Germany            250            45
1       France            180            50
2  Netherlands            150            48
3        Spain            220            47

We can get some information about our dataframe with a simple line of code.

In [20]:
df.info()

df.describe()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        4 non-null      object
 1   Production_MW  4 non-null      int64
 2   Cost_per_MWh   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

       Country  Production_MW  Cost_per_MWh
0      Germany            250            45
1       France            180            50
2  Netherlands            150            48
3        Spain            220            47

We created a DataFrame from scratch. But we also can read data from excel or CSV files.

In [ ]:
# Save to CSV (we’ll use this later)
df.to_csv("Input_Data/energy_data.csv", index=False)

# Read it back
df_csv = pd.read_csv("/workspaces/Supply_Chain_Analytics_2026/Input_Data/HSC_Gen_Data.csv")
df_csv.head()
#df_csv.info()

,Resource,r_id,Zone,H_Gen_type,H_Stor,Existing_cap_tonne_p_hr,Rep_capacity,Num_units,Existing_cap_tonne,Existing_cap_comp_tonne_hr,...,H2Charge_MWh_p_tonne,etta_self_dis,etta_cha,etta_dis,Ramp_Up_Percentage,Ramp_Down_Percentage,total_land_use_km2_p_cap,direct_land_use_km2_p_cap,Boil_off,CCS_Rate
0,SMR_1,1,1,1,0,7.34,3.67,2,0,0,...,0.0,0.000,0,0,0.7,0.7,0.006300,0.006300,0,0
1,AEL_1,2,1,2,0,0.10,0.10,1,0,0,...,0.0,0.000,0,0,1.0,1.0,0.005358,0.005358,0,0
2,PEM_1,3,1,2,0,0.00,0.10,0,0,0,...,0.0,0.000,0,0,1.0,1.0,0.002900,0.002900,0,0
3,H2_sto_1,4,1,0,1,0.00,1.00,0,0,0,...,1.5,0.001,1,1,1.0,1.0,0.007880,0.007880,0,0
4,Salt_cav_1,5,1,0,1,0.00,1.00,0,0,0,...,2.2,0.000,1,1,1.0,1.0,0.000000,0.000000,0,0

You can now select an specific column in the df_csv DataFrame.

In [22]:
df_csv["Resource"] # selecting a specific column
df_csv[["Resource", "Existing_cap_tonne_p_hr"]] # selecting multiple columns

df_csv[df_csv["Fuel"] == "ng"]  # filtering rows
df_csv[df_csv["Existing_cap_tonne_p_hr"] > 1]  # filtering rows with condition

,Resource,r_id,Zone,H_Gen_type,H_Stor,Existing_cap_tonne_p_hr,Rep_capacity,Num_units,Existing_cap_tonne,Existing_cap_comp_tonne_hr,...,H2Charge_MWh_p_tonne,etta_self_dis,etta_cha,etta_dis,Ramp_Up_Percentage,Ramp_Down_Percentage,total_land_use_km2_p_cap,direct_land_use_km2_p_cap,Boil_off,CCS_Rate
0,SMR_1,1,1,1,0,7.34,3.67,2,0,0,...,0.0,0.0,0,0,0.7,0.7,0.0063,0.0063,0,0

You can select a specific subset of the DataFrame

In [3]:
Electrolyzers = df_csv[df_csv["Fuel"] != "ng"]  # Only selects generators that do not use natural gas as the fuel

Electrolyzers

NameError: name 'df_csv' is not defined

If you need to pick a specific data from the DataFrame you can point to it. For example, let's find out what is the fuel type of AEL_1 as a generator:

In [24]:
Selected_Data = df_csv.loc[df_csv["Resource"] == "AEL_1", "Fuel"].values[0]

Selected_Data

'none'

We can add new columns to our DataFrames:

In [25]:
df_csv["Inflated_inv_Cost"] = df_csv["Inv_cost_tonne_hr_p_yr"] * 1.23

df_csv["Inflated_inv_Cost"]

0    2031837.0
1    1792110.0
2    2194935.0
3          0.0
4          0.0
5    2031837.0
6    1792110.0
7    2194935.0
8          0.0
Name: Inflated_inv_Cost, dtype: float64

Offcourse we can also delete a certain column:

In [26]:
df_csv.drop(columns=["Inflated_inv_Cost"], inplace=True)

We can rename a certain column header with the following command:

In [27]:
df_csv = df_csv.rename(columns={"Rep_capacity": "Representative_Cap", "etta_cha": "Cahrge_Efficiency"})
df_csv.head()

,Resource,r_id,Zone,H_Gen_type,H_Stor,Existing_cap_tonne_p_hr,Representative_Cap,Num_units,Existing_cap_tonne,Existing_cap_comp_tonne_hr,...,H2Charge_MWh_p_tonne,etta_self_dis,Cahrge_Efficiency,etta_dis,Ramp_Up_Percentage,Ramp_Down_Percentage,total_land_use_km2_p_cap,direct_land_use_km2_p_cap,Boil_off,CCS_Rate
0,SMR_1,1,1,1,0,7.34,3.67,2,0,0,...,0.0,0.000,0,0,0.7,0.7,0.006300,0.006300,0,0
1,AEL_1,2,1,2,0,0.10,0.10,1,0,0,...,0.0,0.000,0,0,1.0,1.0,0.005358,0.005358,0,0
2,PEM_1,3,1,2,0,0.00,0.10,0,0,0,...,0.0,0.000,0,0,1.0,1.0,0.002900,0.002900,0,0
3,H2_sto_1,4,1,0,1,0.00,1.00,0,0,0,...,1.5,0.001,1,1,1.0,1.0,0.007880,0.007880,0,0
4,Salt_cav_1,5,1,0,1,0.00,1.00,0,0,0,...,2.2,0.000,1,1,1.0,1.0,0.000000,0.000000,0,0

We can group different rows with the same characteristic. For example, if we want to have the capacity of all hydrogen generators, we can use the following code:

In [28]:
df_existing_Cap = df_csv.groupby("H_Gen_type")["Existing_cap_tonne_p_hr"].sum()

df_existing_Cap

H_Gen_type
0    0.00
1    7.34
2    0.20
Name: Existing_cap_tonne_p_hr, dtype: float64

You can use a loop to print the details of a certain group.

In [29]:
for name, group in df_existing_Cap.items():
    print(f"Group: {name}")
    print(group)

Group: 0
0.0
Group: 1
7.34
Group: 2
0.2

You can sort the DataFrame by descending/ascending order of a specific column

In [30]:
df_sorted = df_csv.sort_values(by="Existing_cap_tonne_p_hr", ascending=False)
df_sorted

,Resource,r_id,Zone,H_Gen_type,H_Stor,Existing_cap_tonne_p_hr,Representative_Cap,Num_units,Existing_cap_tonne,Existing_cap_comp_tonne_hr,...,H2Charge_MWh_p_tonne,etta_self_dis,Cahrge_Efficiency,etta_dis,Ramp_Up_Percentage,Ramp_Down_Percentage,total_land_use_km2_p_cap,direct_land_use_km2_p_cap,Boil_off,CCS_Rate
0,SMR_1,1,1,1,0,7.34,3.67,2,0,0,...,0.0,0.000,0,0,0.7,0.7,0.006300,0.006300,0,0
1,AEL_1,2,1,2,0,0.10,0.10,1,0,0,...,0.0,0.000,0,0,1.0,1.0,0.005358,0.005358,0,0
6,AEL_2,7,2,2,0,0.10,0.10,1,0,0,...,0.0,0.000,0,0,1.0,1.0,0.005358,0.005358,0,0
3,H2_sto_1,4,1,0,1,0.00,1.00,0,0,0,...,1.5,0.001,1,1,1.0,1.0,0.007880,0.007880,0,0
2,PEM_1,3,1,2,0,0.00,0.10,0,0,0,...,0.0,0.000,0,0,1.0,1.0,0.002900,0.002900,0,0
4,Salt_cav_1,5,1,0,1,0.00,1.00,0,0,0,...,2.2,0.000,1,1,1.0,1.0,0.000000,0.000000,0,0
5,SMR_2,6,2,1,0,0.00,0.30,0,0,0,...,0.0,0.000,0,0,0.7,0.7,0.006300,0.006300,0,0
7,PEM_2,8,2,2,0,0.00,0.10,0,0,0,...,0.0,0.000,0,0,1.0,1.0,0.002900,0.002900,0,0
8,H2_sto_2,9,2,0,1,0.00,1.00,0,0,0,...,1.5,0.001,1,1,1.0,1.0,0.007880,0.007880,0,0

Finally, you can write the updated DataFrame into a csv file

In [31]:
df.to_csv("df_modified.csv", index=False)
print("✅ Data written to energy_data_processed.csv")

✅ Data written to energy_data_processed.csv

### Important Note

For our next session, we will be working on a simple optimization Problem. Therefore we need to install a solver so it can optimize our model for us. The easiest and most compatible solver to Python is Gurobi. However, you need to have a liesence to use Gurobi, which you can obtain with an academic email.

Go to [Gurobi Website](https://www.gurobi.com/downloads/gurobi-software/) and install Gurobi on your system. After creating a profile with your email, go to [Request](https://portal.gurobi.com/iam/licenses/request) section, get a Named-User Academic liesence and follow the instruction to install in on your own computer.

# Exercise 1

Load the data stored in the file Ex01.csv into a dataframe called zones. Specify the data type of the columns 'Zone_code' and 'Available_Land' in the dataset? Get the dimentions of the zones DataFrame.

# write your code here

# Exercise 2

Rename the 'H2_Curtail_cost' column into 'Hydrogen_Curtailment_Cost' and set the values of hydrogen curtailment cost on the zones 4 and 7 to 5000.

In [1]:
# write your code here

# Exercise 3

Increase the Emission_cost on each zone by 50%

In [ ]:
# write your code here