# Getting started with Python and DataFrames

 In this notebook, we start working with python and explore coding techniques to load and manipulate data. This is important in creating large optimization model, as different CSV datasets may be required to import paramaters for the model.

 What we cover in this Notebook:

1. Creating DataFrames from scratch
2. Read, manipulate, and write DataFrames
3. Grouping columns and aggregation
4. Looping and sorting data

We first need to import packages that include different functions, making our life a bit easier! Pandas and Numpy are two open source tools that contain data manipulation tools and mathematical functions to help us deal with different data. Matplotlib also containts tools to create plots.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

A DataFrame is a data structure that contains rows and columns, which can store the data we need. Let's create a DataFrame from scratch.

In [ ]:
df = pd.DataFrame({
    "Province": ["solar", "wind", "hydro", "nuclear", "coal", "natural gas", "biofuel"],
    "Population": [500, 200, 10, 1000, 500, 5000, 50],
    "Land_Area": ["None", "None", "None", "Uranium", "Coal", "Natural Gas", "None"],
    "Location": ["California", "California", "Oregon", "Georgia", "Virginia", "Texas", "California"]
})
df

      Resource  Capacity    Fuel_type    Location
0        solar       500         None  California
1         wind       200         None  California
2        hydro        10         None      Oregon
3      nuclear      1000      Uranium     Georgia
4         coal       500         Coal    Virginia
5  natural gas      5000  Natural Gas       Texas
6      biofuel        50         None  California

In [9]:
df3 = pd.DataFrame({
    "Country" : ["Netherlands", "Belgium", "Denmark", "Sweden", "Norway"],
    "Capital" : ["Amsterdam", "Brussels", "Copenhagen", "Stockholm", "Oslo"],
    "Population" : [17134872, 11555997, 5822763, 10353442, 5421241],
    "Area_sq_km" : [41543, 30528, 42933, 450295, 385207]
})
df3

       Country     Capital  Population  Area_sq_km
0  Netherlands   Amsterdam    17134872       41543
1      Belgium    Brussels    11555997       30528
2      Denmark  Copenhagen     5822763       42933
3       Sweden   Stockholm    10353442      450295
4       Norway        Oslo     5421241      385207